//
//  Debug.xcconfig
//
//  Created by Maurik Holtrop on 07/05/18.
//
#include "shared.xcconfig"

// EVIO ================= Modify for your own installation ================
// EVIO_LIB_DIR=/data/CLAS12/CODA/${EVIO_RELEASE}/build/Debug
// EVIO_LINK_LIBS=${EVIO_LIB_DIR}/lib${EVIO_RELEASE}.a


ARCHS = $(ARCHS_STANDARD_64_BIT)
// ARCHS = $(ARCHS_STANDARD_32_64_BIT)

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING =
GCC_OPTIMIZATION_LEVEL = 0
WARNING_CFLAGS = -Wall

VALID_ARCHS = x86_64 i386
COPY_PHASE_STRIP = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
STRIP_INSTALLED_PRODUCT = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

PREBINDING = YES
