//  Release.xcconfig
//
//  Created by Maurik Holtrop on 11/11/10.
//
#include "shared.xcconfig"

// EVIO ================= Modify for your own installation ================
// EVIO_LIB_DIR=/data/CLAS12/CODA/${EVIO_RELEASE}/build/Debug
// EVIO_LINK_LIBS=${EVIO_LIB_DIR}/lib${EVIO_RELEASE}.a


ARCHS = $(ARCHS_STANDARD_64_BIT)
// ARCHS = $(ARCHS_STANDARD_32_64_BIT)

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_MODEL_TUNING =
GCC_OPTIMIZATION_LEVEL = 3
GCC_ENABLE_SSE41_EXTENSIONS = YES
GCC_ENABLE_SSE42_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES

WARNING_CFLAGS = -Wall

VALID_ARCHS = x86_64 i386
COPY_PHASE_STRIP = NO
GCC_MODEL_TUNING =

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

PREBINDING = YES
