//
//
//
PRODUCT_NAME = $(TARGET_NAME)

DEPLOYMENT_POSTPROCESSING=YES
// Deployment location, if YES place products in DSTROOT, else in SYMROOT
DEPLOYMENT_LOCATION=YES
//SYMROOT or DSTROOT: The FULL path at which all products will be placed when performing a build.
SYMROOT=/data/HPS/hps-mc-tools/build
DSTROOT=/data/HPS/hps-mc-tools/build
// The subdir of DSTROOT to place project. Must start with a / to a directory instead of appended to DSTROOT name.
INSTALL_PATH=/${CONFIGURATION}

MACOSX_DEPLOYMENT_TARGET = 10.13

VALID_ARCHS = x86_64 i386
COPY_PHASE_STRIP = NO  // When this is yes, the copy of the Qt libraries fails!

CLANG_CXX_LANGUAGE_STANDARD = c++11
GCC_C_LANGUAGE_STANDARD = c89

CLANG_CXX_LIBRARY = libc++

DYLIB_COMPATIBILITY_VERSION = 1.0
DYLIB_CURRENT_VERSION = 1.0.0

// ======== LCIO ===========
LCIO=/data/HPS
LCIO_LIBS= -L${LCIO}/lib -llcio
LCIO_INC=${LCIO}/include

// ======== STDHEP ===========
STDHEP=/data/CernLib/stdhep-5-06-01
STDHEP_INC=${STDHEP}/src/inc
STDHEP_LIB=${STDHEP}/lib/libstdhep.a ${STDHEP}/lib/libstdhepC.a ${STDHEP}/lib/libFmcfio.a

LIBRARY_SEARCH_PATHS =
OTHER_LDFLAGS= ${STDHEP_LIB} // ${LCIO_LIBS}
HEADER_SEARCH_PATHS = ${STDHEP_INC} ${LCIO_INC}
